:root {
    --Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
    --Desaturated_Dark_Blue: hsl(214, 17%, 51%);
    --Grayish_Blue: hsl(212, 23%, 69%);
    --Light_Grayish_Blue: hsl(210, 46%, 95%);
    font-size: 16px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light_Grayish_Blue);
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 91%;
    max-width: 375px;
    background-color: #fff;
}

.image-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-image {
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-top: 0.625rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.625rem 1.5rem;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
    position: relative;
}

.avatar {
    border-radius: 100px;
}

.title {
    color: var(--Very_Dark_Grayish_Blue);
    font-size: 1.125rem;
    padding: 0.625rem 1.5rem;
}

.name {
    color: var(--Very_Dark_Grayish_Blue);
}

.date {
    color: var(--Grayish_Blue)
}

.description {
    font-size: calc(.875rem + 1px);
    line-height: 1.6;
    color: var(--Desaturated_Dark_Blue);
    padding: 0.625rem 1.5rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-avatar {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.share-tooltip {
    position: absolute;
    display: flex;
    background-color: var(--Very_Dark_Grayish_Blue);
    justify-content: space-between;
    width: 100%;
    height: 100%;
    inset: 0;
    padding: 0.625rem 1.5rem;
    align-items: center;
    z-index: 10;
    flex-shrink: 0;
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0;
    visibility: hidden;
}

.share-button-inside-tooltip,
.share-icon-container {
    border-radius: 100px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.share-button-bg-color {
    background-color: var(--Light_Grayish_Blue);
}

.share-button-inside-tooltip-bg-color {
    background-color: var(--Desaturated_Dark_Blue);
}

.share-tooltip-show {
    opacity: 1;
    visibility: visible;
}

.SHARE {
    letter-spacing: 0.425rem;
    font-size: 0.8125rem;
    color: var(--Light_Grayish_Blue);
}

.share-icons {
    display: flex;
    gap: 1.125rem;
    align-items: center;
}

.down-arrow {
    display: none;
}

.share-button {
    border-radius: 100px;
}

.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.manrope-font-weight-500 {
    font-weight: 500;
}

.manrope-font-weight-700 {
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width:768px) {

    .card {
        flex-direction: row;
        max-width: 750px;
    }

    .image-container {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .card-image {
        aspect-ratio: 4/5;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .card-content {
        padding-top: 0;
    }

    .title {
        font-size: 1.5rem;
    }

    .profile-container {
        position: static;
    }

    .share-button {
        position: relative;
        border-radius: 100px;
    }

    .share-icon-container {
        border-radius: 100px;
    }

    .share-icon-container:hover {
        cursor: pointer;
    }

    .share-tooltip {
        width: fit-content;
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        overflow: hidden;
        left: 50%;
        top: calc(-100% * 1.5);
        transform: translate(-50%, -50%);
        height: 44px;
    }

    .share-button-inside-tooltip {
        display: none;
    }

    .share-icon {
        position: relative;
    }

    .down-arrow {
        width: 20px;
        height: 20px;
        rotate: 45deg;
        border-radius: 0.125rem;
        position: absolute;
        background-color: var(--Very_Dark_Grayish_Blue);
        z-index: 5;
        top: -100%;
        transform: translateY(-50%);
        display: block;
        visibility: hidden;
        opacity: 0;
    }

    .down-arrow-show {
        visibility: visible;
        opacity: 1;
    }


}